<div class="chat-card stat-roll" data-owner-id="{{owner}}" data-statName="{{statName}}" data-successes="{{successes}}" data-failures="{{failures}}">
    <div class="card-content">
        <h2>
            {{statName}}
        </h2>
    </div>

    <div class="dice-roll">
        <div class="dice-formula">{{diceFormula}}</div>
        <div class="dice-values">
            {{#each results}}
                <div class="dice-result {{#if this.success}}dice-success{{else}}dice-fail{{/if}}">
                    <div>{{this.result}}</div>
                </div>
            {{/each}}
        </div>
        <div class="dice-successes">
            {{successes}} Successes
        </div>
    </div>
</div>
